@using TaskManager.Services.Data.Interfaces;
@using TaskManager.Web.Infrastructure.Extentions;
@inject IUserService UserService;

@{
    bool isUserWorker = await this.UserService.IsUserWorkerByIdAsync(User.GetId());
    bool isUserAdmin = this.User.isAdmin();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/TaskManager.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


</head>
<body>
    <partial name="_NotificationPartial" />
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:forestgreen">Geodesy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (!isUserWorker)
                        {
                                         <li class="nav-item">
                                            <a class="navbar-brand" asp-area="" asp-controller="Request" asp-action="CreateRequest" style="color:forestgreen">Изпрати заявка</a>
                                        </li>                           
                        }
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            @if (isUserWorker)                                    
                            {
                                    <li class="nav-item">                                             
                                        <a class="btn btn-success fa-solid fa-house" asp-area="" asp-controller="GeoTask" asp-action="MyTasks"></a>
                                        <a class="btn btn-success" asp-area="" asp-controller="GeoTask" asp-action="AllTasks">Всички задачи</a>
                                        <a class="btn btn-success" asp-area="" asp-controller="GeoTask" asp-action="Checked">Задачи за проверка</a>
                                        <a class="btn btn-success" asp-area="" asp-controller="Client" asp-action="Clients">Клиенти</a>
                                        <a class="btn btn-success fa-solid fa-calendar-days" asp-area="" asp-controller="Calendar" asp-action="Calendar"></a>                                 
                                    </li>                            
                            }                            
                        }                
                    </ul>
                    <ul class="navbar-nav align-content-end">
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            @if (isUserWorker)
                            {
                                <li class="nav-item">
                                    <a class="btn btn-success" asp-area="" asp-controller="Request" asp-action="All">Поръчки</a>
                                     @if (isUserAdmin)
                                        {                              
                                            <a class="btn btn-success" asp-area="" asp-controller="Admin" asp-action="AdminPanel">Админ</a>
                                        }
                                </li>                            
                            }                            
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" >
        <div class="container text-lg" style="color:forestgreen">
            &copy; @DateTime.UtcNow.Year - Geodesy Manager
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


            