@{
    ViewData["Title"] = "Home Page";
}
 <body style="background-image: url(https://img.freepik.com/free-photo/image-engineering-objects-workplace-top-view-construction-concept-engineering-tools-vintage-tone-retro-filter-effect-soft-focus-selective-focus_1418-704.jpg?w=1380&t=st=1691078757~exp=1691079357~hmac=b56409bc67fe1017d197a2d3e3556631ddb8f95b07ae191895297429cbdb6ae1); background-repeat:no-repeat; background-size:100% 100%"></body>
