@{
    ViewData["Title"] = "Home Page";
}

<div class="col offset-1">
    <div class="row" style=" border-top:none 50px;">
        <div class="card offset-1" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Agent Info</h5>
                <p class="card-text">Email: SomeEmail</p>
                <p class="card-text">Phone Number: 0892222222</p>
            </div>
            <a class="btn btn-warning" asp-controller="Reqest" asp-action="Details" asp-route-id="1">Details</a>
        </div> 
        <div class="card offset-1" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Agent Info</h5>
                <p class="card-text">Email: SomeEmail</p>
                <p class="card-text">Phone Number: 0892222222</p>
            </div>
            <a class="btn btn-warning" asp-controller="Reqest" asp-action="Details" asp-route-id="1">Details</a>
        </div>
        <div class="card offset-1" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Agent Info</h5>
                <p class="card-text">Email: SomeEmail</p>
                <p class="card-text">Phone Number: 0892222222</p>
            </div>
            <a class="btn btn-warning" asp-controller="Reqest" asp-action="Details" asp-route-id="1">Details</a>
        </div>
    </div>
    <div class="row" style=" border-top:solid 50px transparent;">
        <div class="card offset-1" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Agent Info</h5>
                <p class="card-text">Email: SomeEmail</p>
                <p class="card-text">Phone Number: 0892222222</p>
            </div>
            <a class="btn btn-warning" asp-controller="Reqest" asp-action="Details" asp-route-id="1">Details</a>
        </div> 
        <div class="card offset-1" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Agent Info</h5>
                <p class="card-text">Email: SomeEmail</p>
                <p class="card-text">Phone Number: 0892222222</p>
            </div>
            <a class="btn btn-warning" asp-controller="Reqest" asp-action="Details" asp-route-id="1">Details</a>
        </div>
        <div class="card offset-1" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Agent Info</h5>
                <p class="card-text">Email: SomeEmail</p>
                <p class="card-text">Phone Number: 0892222222</p>
            </div>
            <a class="btn btn-warning" asp-controller="Reqest" asp-action="Details" asp-route-id="1">Details</a>
        </div>
    </div>
    <div class="row" style=" border-top:solid 50px;">
        <div class="card offset-1" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Agent Info</h5>
                <p class="card-text">Email: SomeEmail</p>
                <p class="card-text">Phone Number: 0892222222</p>
            </div>
            <a class="btn btn-warning" asp-controller="Reqest" asp-action="Details" asp-route-id="1">Details</a>
        </div> 
        <div class="card offset-1" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Agent Info</h5>
                <p class="card-text">Email: SomeEmail</p>
                <p class="card-text">Phone Number: 0892222222</p>
            </div>
            <a class="btn btn-warning" asp-controller="Reqest" asp-action="Details" asp-route-id="1">Details</a>
        </div>
        <div class="card offset-1" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Agent Info</h5>
                <p class="card-text">Email: SomeEmail</p>
                <p class="card-text">Phone Number: 0892222222</p>
            </div>
            <a class="btn btn-warning" asp-controller="Reqest" asp-action="Details" asp-route-id="1">Details</a>
        </div>
    </div>
</div>
