@model IEnumerable<FrontDescriptionTypeViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<body style="background-image: url('https://img.freepik.com/free-photo/image-engineering-objects-workplace-top-view-construction-concept-engineering-tools-vintage-tone-retro-filter-effect-soft-focus-selective-focus_1418-704.jpg?w=1380&t=st=1691337472~exp=1691338072~hmac=eff25fb084633dc85edd106e9ee897249ddc92a58b10f08c909037926dbdf3a9'); background-repeat:no-repeat; background-size:100% 100%">

<div class="row">
    @foreach (FrontDescriptionTypeViewModel viewModel in Model)
    {
        <div class="col" style="border-top:solid 50px transparent">
            <div class="card" style="width: 25rem;height: 16rem; border:solid 2px; border-color:forestgreen;">
                <div class="card-body">
                    <h5 class="card-title text-center justify-content-center">@viewModel.Title</h5>
                    <hr>
                            <p class="card-text"><b>Цена: </b>@($"{viewModel.Price:F2}") лв.</p>
                            <p class="card-text"><b>Срок: </b>@viewModel.TermDays работни дни.</p>
                </div>
                <a class="btn btn-success"  asp-controller="Home" asp-action="Details" asp-route-id="@viewModel.Id">Повече информация</a>
            </div>
        </div>
    }
</div>         +
</body>