@model IEnumerable<TypeViewModel>;

<h2 class="text-center">Всички типове задачи</h2>
<hr />
<form>
    @{
        if (!Model.Any())
        {
                <div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="fst-italic fw-bold"><b>Номер</b></th>
                            <th class="fst-italic fw-bold"><b>Име</b></th>
                            <td><a class="btn btn-secondary" asp-controller="Type" asp-action="Add">Нов тип</a></td>
                        </tr>
                        </thead>      
                    </table>    
                        <h4 class="text-center">Все още нямаш типове задачи</h4>
                </div>  
        }
        else
        {
        <div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="fst-italic fw-bold"><b>Номер</b></th>
                    <th class="fst-italic fw-bold"><b>Име</b></th>
                    <td><a class="btn btn-secondary" asp-controller="Type" asp-action="Add">Нов тип</a></td>
                </tr>
                </thead>  
                    @foreach (TypeViewModel type in Model)
                    {
                        <tbody>
                            <tr class="gridrow">
                               <td>@type.Id</td>
                               <td>@type.Name</td>      
                               <td><a style="font-weight:bold; color:forestgreen; text-decoration:none;background-color:transparent" asp-controller="Type" asp-action="Edit" asp-route-id="@type.Id">Промени</a></td>

                            </tr> 
                        </tbody>   
                    }
            </table>    
        </div>   

        }
    }
</form>