@model RequestViewModel
<form method="post">
<h2 class="text-center">Задача от @Model.Name</h2>
<hr />
<div class="col-sm-25 offset-lg-4 col-lg-8 offset-xl-3 col-xl-6">
    <div class="row">
        <div class="card border-0">
            <p> <b>Телефонен номер:</b> @Model.PhoneNumber</p>
            <p> <b>Описание: </b>@Model.Description)</p>
        </div>
    </div>
         <div class="text-center">
            <input class="btn btn-primary mt-3 myacceptButton" type="submit" value="Задачата е приета" />
         </div>

 </div>
</form>
@section Scripts
{
    <partial name ="_ValidationScriptsPartial">
}


