.PFileHeader{
	display: flex;
	justify-content: center;
	color:green;
}
div.body{
	display: inline;
	}

.salaryContainer{
	display: inline-block;
	max-width: 20em;

}
.salaryContainer h5{
	text-decoration: none;
	display: flex;
	justify-content:left;
}
.salaryContainer h5 p{
text-decoration: solid;	
margin: 0 0.5em 0 0.5em;
}
.chartsContainer {
	display: flex;
	max-width: 100%;
	flex-wrap: wrap;
	justify-content: left;
	margin: 2em 2em 2em 2em;
}
.chartsContainer article{
	background-color: #f5f5f5;
	border-radius: 2em;
	min-width: 40em;
	margin: 1em 1em 1em 1em;
}
.chartDataName {
	text-align: center;
    font-size: 1.5em;
    font-weight: bold;
	font-style: italic;
    padding: 1em 1em 1em 1em;
}
