<body style="background-image: url('https://img.freepik.com/free-photo/image-engineering-objects-workplace-top-view-construction-concept-engineering-tools-vintage-tone-retro-filter-effect-soft-focus-selective-focus_1418-704.jpg?w=1380&t=st=1691337472~exp=1691338072~hmac=eff25fb084633dc85edd106e9ee897249ddc92a58b10f08c909037926dbdf3a9'); background-repeat:no-repeat; background-size:100% 100%">
    <div class=" row">
        <div class="col" style="border-top:solid 30px transparent">
            <div class="card" style="width: 15rem;height: 7rem; border:solid 2px; border-color:black;">
              <a class="btn btn-warning" asp-controller="Admin" asp-action="AllUsers">Всички потребители</a>
                 <hr />
              <a class="btn btn-warning" asp-controller="Admin" asp-action="AllWorkers">Всички работници</a>
            </div>
        </div>
        <div class="col" style="border-top:solid 30px transparent">
            <div class="card" style="width: 15rem;height: 7rem; border:solid 2px; border-color:black;">
              <a class="btn btn-warning" asp-controller="Type" asp-action="Add">Добави тип на задача</a>
                 <hr />
              <a class="btn btn-warning" asp-controller="Type" asp-action="All">Всички типове задачаи</a>
            </div>
        </div>
        <div class="col" style="border-top:solid 30px transparent">
            <div class="card" style="width: 15rem;height: 7rem; border:solid 2px; border-color:black;">
                <a class="btn btn-warning" asp-controller="FrontDescription" asp-action="Add">Добави услуга</a>
            </div>
        </div>
    </div>
</body>







